In [34]:
import pandas as pd
import os
import datetime

# Path to the folder where you unzipped the CSVs
from directory import data_dir

In [35]:
df_leagues = pd.read_csv(data_dir + "/leagues.csv")
df_players = pd.read_csv(data_dir + "/players.csv", low_memory=False)
df_teams = pd.read_csv(data_dir + "/teams.csv")
df_fixtures = pd.read_csv(data_dir + "/fixtures.csv")
df_teamStats = pd.read_csv(data_dir + "/teamStats.csv")
df_teamRoster = pd.read_csv(data_dir + "/teamRoster.csv")
df_keyEventDescription = pd.read_csv(data_dir + "/keyEventDescription.csv")
df_status = pd.read_csv(data_dir + "/status.csv")
df_venues = pd.read_csv(data_dir + "/venues.csv")

In [36]:
mySeasonType_input = input("Please enter the season ID: ")
mySeasonType = int(mySeasonType_input)
myTz = "US/Eastern"
todayDate = datetime.date.today().strftime("%Y-%m-%d")

df_fixtures['matchDateTimeLocal'] = pd.to_datetime(df_fixtures['date']).dt.tz_localize("UTC").dt.tz_convert(myTz)
df_fixtures['matchDate'] = pd.to_datetime(df_fixtures['matchDateTimeLocal']).dt.strftime("%Y-%m-%d")
df_fixtures['matchTime'] = pd.to_datetime(df_fixtures['matchDateTimeLocal']).dt.strftime("%H:%M")

df_soccer_fixtures = df_fixtures[df_fixtures['seasonType'].isin([mySeasonType])]

In [37]:

df_soccer_fixtures = pd.merge(df_soccer_fixtures, df_teams, how = "inner", left_on = ["homeTeamId"], right_on = ["teamId"])

df_soccer_fixtures = pd.merge(df_soccer_fixtures, df_teams, how = "inner", left_on = ["awayTeamId"], right_on = ["teamId"])


print(df_soccer_fixtures.info())
df_soccer_fixtures

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rn                     2 non-null      int64
 1   seasonType             2 non-null      int64
 2   leagueId               2 non-null      int64
 3   eventId                2 non-null      int64
 4   date                   2 non-null      object
 5   venueId_x              2 non-null      int64
 6   attendance             2 non-null      int64
 7   homeTeamId             2 non-null      int64
 8   awayTeamId             2 non-null      int64
 9   homeTeamWinner         2 non-null      bool
 10  awayTeamWinner         2 non-null      bool
 11  homeTeamScore          2 non-null      int64
 12  awayTeamScore          2 non-null      int64
 13  homeTeamShootoutScore  2 non-null      int64
 14  awayTeamShootoutScore  2 non-null      int64
 15  statusId               2 non-null      int64
 16  updateTime             2 non-null      object
 17  matchDateTimeLocal     2 non-null      datetime64[ns, US/Eastern]
 18  matchDate              2 non-null      object
 19  matchTime              2 non-null      object
 20  teamId_x               2 non-null      int64
 21  location_x             2 non-null      object
 22  name_x                 2 non-null      object
 23  abbreviation_x         2 non-null      object
 24  displayName_x          2 non-null      object
 25  shortDisplayName_x     2 non-null      object
 26  color_x                2 non-null      object
 27  alternateColor_x       2 non-null      object
 28  logoURL_x              2 non-null      object
 29  venueId_y              2 non-null      int64
 30  slug_x                 2 non-null      object
 31  teamId_y               2 non-null      int64
 32  location_y             2 non-null      object
 33  name_y                 2 non-null      object
 34  abbreviation_y         2 non-null      object
 35  displayName_y          2 non-null      object
 36  shortDisplayName_y     2 non-null      object
 37  color_y                2 non-null      object
 38  alternateColor_y       2 non-null      object
 39  logoURL_y              2 non-null      object
 40  venueId                2 non-null      int64
 41  slug_y                 2 non-null      object
dtypes: bool(2), datetime64[ns, US/Eastern](1), int64(17), object(22)
memory usage: 776.0+ bytes
None

,Rn,seasonType,leagueId,eventId,date,venueId_x,attendance,homeTeamId,awayTeamId,homeTeamWinner,...,location_y,name_y,abbreviation_y,displayName_y,shortDisplayName_y,color_y,alternateColor_y,logoURL_y,venueId,slug_y
0,1,12982,3918,735088,2025-04-26 16:15:00,3703,82301,384,362,True,...,Aston Villa,Aston Villa,AVL,Aston Villa,Aston Villa,660e36,ffffff,https://a.espncdn.com/i/teamlogos/soccer/500/3...,307,eng.aston_villa
1,2,12982,3918,735089,2025-04-27 15:30:00,3703,72976,393,382,False,...,Manchester City,Manchester City,MNC,Manchester City,Man City,99c5ea,e6ff00,https://a.espncdn.com/i/teamlogos/soccer/500/3...,4036,eng.man_city

In [38]:
df_soccer_fixtures = df_soccer_fixtures.drop(columns='venueId')
df_soccer_fixtures = pd.merge(df_soccer_fixtures, df_venues, how = "inner", left_on = ["venueId_x"], right_on = ["venueId"])


df_soccer_fixtures

,Rn,seasonType,leagueId,eventId,date,venueId_x,attendance,homeTeamId,awayTeamId,homeTeamWinner,...,color_y,alternateColor_y,logoURL_y,slug_y,venueId,fullName,shortName,capacity,city,country
0,1,12982,3918,735088,2025-04-26 16:15:00,3703,82301,384,362,True,...,660e36,ffffff,https://a.espncdn.com/i/teamlogos/soccer/500/3...,eng.aston_villa,3703,Wembley Stadium,Wembley Stadium,0,London,England
1,2,12982,3918,735089,2025-04-27 15:30:00,3703,72976,393,382,False,...,99c5ea,e6ff00,https://a.espncdn.com/i/teamlogos/soccer/500/3...,eng.man_city,3703,Wembley Stadium,Wembley Stadium,0,London,England

In [39]:
df_soccer_fixtures = pd.merge(df_soccer_fixtures, df_status, how = "inner", left_on = ["statusId"], right_on = ["statusId"])
print(df_soccer_fixtures.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rn                     2 non-null      int64
 1   seasonType             2 non-null      int64
 2   leagueId               2 non-null      int64
 3   eventId                2 non-null      int64
 4   date                   2 non-null      object
 5   venueId_x              2 non-null      int64
 6   attendance             2 non-null      int64
 7   homeTeamId             2 non-null      int64
 8   awayTeamId             2 non-null      int64
 9   homeTeamWinner         2 non-null      bool
 10  awayTeamWinner         2 non-null      bool
 11  homeTeamScore          2 non-null      int64
 12  awayTeamScore          2 non-null      int64
 13  homeTeamShootoutScore  2 non-null      int64
 14  awayTeamShootoutScore  2 non-null      int64
 15  statusId               2 non-null      int64
 16  updateTime             2 non-null      object
 17  matchDateTimeLocal     2 non-null      datetime64[ns, US/Eastern]
 18  matchDate              2 non-null      object
 19  matchTime              2 non-null      object
 20  teamId_x               2 non-null      int64
 21  location_x             2 non-null      object
 22  name_x                 2 non-null      object
 23  abbreviation_x         2 non-null      object
 24  displayName_x          2 non-null      object
 25  shortDisplayName_x     2 non-null      object
 26  color_x                2 non-null      object
 27  alternateColor_x       2 non-null      object
 28  logoURL_x              2 non-null      object
 29  venueId_y              2 non-null      int64
 30  slug_x                 2 non-null      object
 31  teamId_y               2 non-null      int64
 32  location_y             2 non-null      object
 33  name_y                 2 non-null      object
 34  abbreviation_y         2 non-null      object
 35  displayName_y          2 non-null      object
 36  shortDisplayName_y     2 non-null      object
 37  color_y                2 non-null      object
 38  alternateColor_y       2 non-null      object
 39  logoURL_y              2 non-null      object
 40  slug_y                 2 non-null      object
 41  venueId                2 non-null      int64
 42  fullName               2 non-null      object
 43  shortName              2 non-null      object
 44  capacity               2 non-null      int64
 45  city                   2 non-null      object
 46  country                2 non-null      object
 47  name                   2 non-null      object
 48  state                  2 non-null      object
 49  description            2 non-null      object
dtypes: bool(2), datetime64[ns, US/Eastern](1), int64(18), object(29)
memory usage: 904.0+ bytes
None

In [40]:
df_soccer_fixtures = pd.merge(df_soccer_fixtures, df_leagues, how = "inner", left_on = ["seasonType"], right_on = ["seasonType"])

df_soccer_fixtures

,Rn,seasonType,leagueId_x,eventId,date,venueId_x,attendance,homeTeamId,awayTeamId,homeTeamWinner,...,name,state,description,year,seasonName,seasonSlug,leagueId_y,midsizeName,leagueName,leagueShortName
0,1,12982,3918,735088,2025-04-26 16:15:00,3703,82301,384,362,True,...,STATUS_FULL_TIME,post,Full Time,2024,"2024-25 English FA Cup, Semifinals",semifinals,3918,ENG.FA,English FA Cup,English FA Cup
1,2,12982,3918,735089,2025-04-27 15:30:00,3703,72976,393,382,False,...,STATUS_FULL_TIME,post,Full Time,2024,"2024-25 English FA Cup, Semifinals",semifinals,3918,ENG.FA,English FA Cup,English FA Cup

In [41]:
#df_prem_fixtures
dropped_columns = ['seasonType', 'statusId', 'leagueId_x', 'date', 'venueId_x', 'homeTeamId', 'awayTeamId', 'homeTeamShootoutScore', 'awayTeamShootoutScore', 'teamId_x', 'updateTime', 'matchDateTimeLocal', 'location_x', 'name_x', 'abbreviation_x', 'shortDisplayName_x', 'color_x', 'alternateColor_x', 'logoURL_x', 'venueId_y', 'slug_x', 'teamId_y', 'location_y', 'name_y', 'abbreviation_y', 'shortDisplayName_y', 'color_y', 'alternateColor_y', 'logoURL_y', 'venueId', 'slug_y', 'shortName', 'capacity', 'city', 'country', 'name', 'state', 'seasonSlug', 'leagueId_y', 'midsizeName', 'leagueName', 'leagueShortName']

df_soccer_fixtures = df_soccer_fixtures.drop(columns=dropped_columns)

new_order = ['seasonName', 'eventId', 'matchDate', 'matchTime', 'fullName', 'attendance',  'displayName_x', 'displayName_y', 'homeTeamScore', 'awayTeamScore', 'homeTeamWinner', 'awayTeamWinner', 'description']

df_soccer_fixtures = df_soccer_fixtures[new_order]

#df_prem_fixtures['Venue'] = df_prem_fixtures['Venue'].str.replace('\\', '', regex=False)
df_soccer_fixtures=df_soccer_fixtures.rename(columns={'fullName': 'Venue', 'attendance': "Attendance", 'displayName_x': 'HomeTeam', "displayName_y": "AwayTeam", "homeTeamScore": "HomeTeamScore", "awayTeamScore": "AwayTeamScore", "description": "Description"})

df_soccer_fixtures.dropna(inplace=True)

# Create a dynamic filename based on the season name
# .iloc[0] gets the value from the first row
season_name = df_soccer_fixtures['seasonName'].iloc[0].replace(' ', '_').replace('/', '-')
file_name = f"{season_name}_fixtures.csv"

# Save the DataFrame to a CSV file in your project folder
# index=False prevents pandas from saving the row numbers as a column
df_soccer_fixtures.to_csv(file_name, index=False)

df_soccer_fixtures

,seasonName,eventId,matchDate,matchTime,Venue,Attendance,HomeTeam,AwayTeam,HomeTeamScore,AwayTeamScore,homeTeamWinner,awayTeamWinner,Description
0,"2024-25 English FA Cup, Semifinals",735088,2025-04-26,12:15,Wembley Stadium,82301,Crystal Palace,Aston Villa,3,0,True,False,Full Time
1,"2024-25 English FA Cup, Semifinals",735089,2025-04-27,11:30,Wembley Stadium,72976,Nottingham Forest,Manchester City,0,2,False,True,Full Time